.App {
  text-align: center;
}
.image {
  width: 160px;
  height: 120px;
  flex-shrink: 0;
}
.item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #efeded;

}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  align-items: flex-start;
  flex: 1;
  padding: 10px 0px;
}
.price {
  color: #fd790d;
}
.titleWrap {
  text-align: left;
}
input {
  border: 1px solid #efeded;
  flex: 1;
  padding: 10px;
}
.inputWrap {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  margin: 10px 0px;
  align-items: center;
  flex: 1;
}
.sub {
  margin: 20px auto 0 auto;
  background: #efeded;
  margin-left: 20px;
}